In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.array([18, 25, 12, 10, 30, 22, 15, 18, 20, 16, 19, 25, 21, 11, 14, 17, 28, 26, 23, 19])
ds = pd.Series(arr)
ds

0     18
1     25
2     12
3     10
4     30
5     22
6     15
7     18
8     20
9     16
10    19
11    25
12    21
13    11
14    14
15    17
16    28
17    26
18    23
19    19
dtype: int32

In [3]:
len(ds)

20

In [4]:
gobolada = ['Ben', 'Bari', 'Bay', 'Awdal']
dadka = [4000000,1000000,1500000,5000000]
badka = [16,400,120,200]

In [6]:
df = pd.DataFrame({"gobolada": gobolada, "dadka": dadka, "badka": badka})
df

  gobolada    dadka  badka
0      Ben  4000000     16
1     Bari  1000000    400
2      Bay  1500000    120
3    Awdal  5000000    200

In [7]:
df.count()

gobolada    4
dadka       4
badka       4
dtype: int64

In [8]:
df.head(2)

  gobolada    dadka  badka
0      Ben  4000000     16
1     Bari  1000000    400