In [1]:
import pandas as pd

# 1. Warbixinta guud ee xogta

In [2]:
salary_data = pd.read_csv('Salaries.csv')
salary_data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
salary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

# 2. Basic Analysis Questions

### 2.1. Identify the five most common `job titles`.

In [4]:
salary_data['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

### 2.2. Find the job titles with the highest and lowest average `BasePay`.

In [5]:
average_basepay = salary_data.groupby('JobTitle')['BasePay'].mean()
average_basepay

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2159, dtype: float64

#### `The Job Title With The Highest Average BasePay`

In [6]:
print(f'{average_basepay.idxmax()} {average_basepay.max()}')

Chief of Police 309767.68333333335

#### `The Job Title With The Lowest Average BasePay`

In [7]:
print(f'{average_basepay.idxmin()} {average_basepay.min()}')

ASSISTANT RECREATION SUPERVISOR 0.0

### 2.3. Describe the relationship between `BasePay` and `TotalPay`.

In [8]:
salary_data[['BasePay', 'TotalPay']].corr()

           BasePay  TotalPay
BasePay   1.000000  0.954494
TotalPay  0.954494  1.000000

### 2.4. List three job titles with the highest `TotalPay` and three with the lowest.

In [9]:
highest_totalpay_jobs = salary_data.nlargest(3, 'TotalPay')[['JobTitle', 'TotalPay']]
lowest_totalpay_jobs = salary_data.nsmallest(3, 'TotalPay')[['JobTitle', 'TotalPay']]
print(":\n", )
print("Lowest TotalPay Jobs:\n", )

:

Lowest TotalPay Jobs:

### `Highest TotalPay Jobs are `

In [10]:
highest_totalpay_jobs

                                              JobTitle   TotalPay
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  567595.43
1                      CAPTAIN III (POLICE DEPARTMENT)  538909.28
110531                                  Deputy Chief 3  471952.64

### `Lowest TotalPay Jobs are `

In [11]:
lowest_totalpay_jobs

                                          JobTitle  TotalPay
148653                  Counselor, Log Cabin Ranch   -618.13
36156   STATIONARY ENGINEER, WATER TREATMENT PLANT      0.00
36157                             TRANSIT OPERATOR      0.00

### 2.5. Identify three job titles with the highest average `OvertimePay`.

In [12]:
avg_overtime_by_job = salary_data.groupby('JobTitle')['OvertimePay'].mean()
avg_overtime_by_job.nlargest(3)

JobTitle
Wire Rope Cable Maint Sprv                82446.923333
WIRE ROPE CABLE MAINTENANCE SUPERVISOR    66164.730000
Trnst Power Line Wrk Sprv 2               59259.306667
Name: OvertimePay, dtype: float64

### 2.6. Investigate if all job titles have overtime pay entries. If not, provide examples.

In [13]:
jobs_with_overtime = salary_data[salary_data['OvertimePay'] > 0]['JobTitle'].unique()
jobs_with_overtime

array(['CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC',
       'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', ...,
       'Personnel Trainee', 'Apprentice Cement Mason I',
       "Sheriff's Property Keeper"], dtype=object)

In [14]:
jobs_without_overtime = set(salary_data['JobTitle']) - set(jobs_with_overtime)
df = pd.DataFrame(list(jobs_without_overtime), columns=['JobTitle'])

In [15]:
df

                                              JobTitle
0            STORES AND EQUIPMENT ASSISTANT SUPERVISOR
1    ASSISTANT TO THE DIRECTOR, PUBLIC AFFAIRS     ...
2                            LIBRARIAN II - ASIAN ARTS
3    SENIOR CLAIMS INVESTIGATOR,CITY ATTORNEY'S OFFICE
4                           PUBLIC RELATIONS ASSISTANT
..                                                 ...
940                                 Deputy Dir II, MTA
941             COURT COMPUTER APPLICATIONS PROGRAMMER
942                        Counselor, Family Court Svc
943                            COMMUNICATIONS DIRECTOR
944                                    Court Paralegal

[945 rows x 1 columns]

### 2.7. List the years included in the dataset.

In [16]:
salary_data['Year'].unique()

array([2011, 2012, 2013, 2014], dtype=int64)

### 2.8. Identify the year with the highest average `TotalPay`.

In [17]:
avg_totalpay_by_year = salary_data.groupby('Year')['TotalPay'].mean()
year_highest_avg_totalpay = avg_totalpay_by_year.idxmax(), avg_totalpay_by_year.max()
print("Year with highest avg TotalPay:", year_highest_avg_totalpay)

Year with highest avg TotalPay: (2013, 77611.44314205181)

### 2.9. List job titles with the highest average `Benefits`.

In [18]:
avg_benefits_by_job = salary_data.groupby('JobTitle')['Benefits'].mean()
highest_benefits_jobs = avg_benefits_by_job.nlargest(5)
print("Jobs with highest Benefits:\n", highest_benefits_jobs)

Jobs with highest Benefits:
 JobTitle
Chief Investment Officer      96570.660000
Gen Mgr, Public Trnsp Dept    82927.026667
Chief, Fire Department        82893.643333
Chief of Police               82548.620000
Mayor                         78360.376667
Name: Benefits, dtype: float64

### 2.10. Explain the role of `Benefits` in calculating `TotalPayBenefits

### TotalPayBenefits waa wadarta TotalPay iyo Benefits, taasoo muujinaysa magdhowga guud ee la siiyo shaqaalaha

### 2.11. Identify employees with the highest `TotalPayBenefits

In [19]:
salary_data[salary_data['TotalPayBenefits'].max() == salary_data['TotalPayBenefits']]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

### 2.12. Find any employees with the same job title but different `TotalPay`.

In [20]:
duplicates = salary_data.groupby('JobTitle').filter(lambda x: x['TotalPay'].nunique() > 1)
print("Employees with same title but different TotalPay:\n", duplicates[['EmployeeName', 'JobTitle', 'TotalPay']])

Employees with same title but different TotalPay:
              EmployeeName                                        JobTitle  \
0          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148645   Carolyn A Wilson                       Human Services Technician
148647     Joann Anderson                     Communications Dispatcher 2
148648        Leon Walker                                       Custodian
148649      Roy I Tillery                                       Custodian
148653          Joe Lopez                      Counselor, Log Cabin Ranch

         TotalPay
0       567595.43
1       538909.28
2       335279.91
3       332343.61
4       326373.19
...           ...
148645       0.00
148647       0.00
148648       0.00
148649       0.00
148653    -618.13

[148406 rows x 3 columns]

### 2.13. Determine the number of unique job titles in the dataset.

In [21]:
salary_data['JobTitle'].nunique()

2159

### 2.14. Define the roles of `TotalPay` and `TotalPayBenefits` in understanding employee compensation.

### TotalPay waxay muujinaysaa mushaarka aasaasiga ah oo lagu daray dakhliga dheeraadka ah sida saacadaha dheeraadka ah (overtime). TotalPayBenefits waxay ku dartaa faa'iidooyinka TotalPay, taasoo bixisa aragti dhammaystiran oo ku saabsan magdhowga guud.